/* Box style */
.box {
  width: 300px;
  height: 180px;
  margin: 0 20px;
  border-radius: 20px;
  background-color: pink;
  box-shadow: 0 5px 15px rgba(0,0,0,0.15);
  flex-shrink: 0;
}

.box-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px; /* Match the .box rounded corners */
}


/* Make it responsive */
@media (max-width: 768px) {
  .box {
    width: 180px;
    height: 120px;
    margin: 0 10px;
  }
}

/* Animation */
.slider-row {
  height: 200px;
}

.slide-left .slider-track {
  animation: scrollLeft 20s linear infinite;
}
.slide-right .slider-track {
  animation: scrollRight 20s linear infinite;
}

@keyframes scrollLeft {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

@keyframes scrollRight {
  0% { transform: translateX(0); }
  100% { transform: translateX(50%); }
}
